<h1>Login</h1>
<%= form_for :session do |form| %>
  Email: <%= form.text_field :email %>
  Password: <%= form.password_field :password %>
  <%= submit_tag "Submit" %>
  <% if flash.alert %>
    <div class="alert alert-info"><%= flash.alert %></div>
  <% end %>
<% end %>

